body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-size: 1.5rem;
}

.btn-ctn {
  margin-top: 20px;
}

.out-ctn {
  margin-bottom: 20px;
  height: 80px;
}

#btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#out {
  font-size: 1.5rem;
}
